<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>正则表达式渲染器{{#if htmlWebpackPlugin.options.title}} - {{htmlWebpackPlugin.options.title}}{{/if}}</title>

    <meta name="description" content="Regular expression visualizer using railroad diagrams" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#bada55" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="author" href="humans.txt" />
    <!-- Built: {{htmlWebpackPlugin.options.date}} -->
  </head>
  <body>
    <header>
      <div class="logo">
        <h1><a href="/">正则表达式渲染器</a></h1>
        <!-- n. One who regexpes -->
        <span>你认为你只有两个问题&hellip;</span>
      </div>

      <nav>
        <ul>
          <li>
            <a class="inline-icon" href="changelog.html">{{icon "#list-rich"}}变更日志</a>
          </li>
          <li>
            <a class="inline-icon" href="documentation.html">{{icon "#document"}}说明文档</a>
          </li>
          <li>
            <a class="inline-icon" href="https://gitlab.com/javallone/regexper-static">{{icon "#code"}}在 GitLab 上查看此项目</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="content">
